[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "==18.3a0"
pylint = "*"
gpt-2-simple = "==0.5.4"
tensorflow = "==2.7.2"

[packages]
flask = "*"
gunicorn = "*"
gevent = "*"
snakemake = "*"

[requires]
python_version = "3.7"
