{% extends "base.html" %}
{% block title %}AI Crossword Generator{% endblock %}

{% block style %}
.crossword-grid {
  margin: 100px;
}
.grid-item {
width: 40px;
height: 40px;
font-size: 14px;
padding: 10px;
}
{% endblock %}

{% block content %}
<table class="crossword-grid">
  <tr>
    <th class="grid-item">1</td>
    <td class="grid-item">2</td> 
    <td class="grid-item">3</td>
  </tr>
  <tr>
    <td class="grid-item">4</td>
    <td class="grid-item">5</td> 
    <td class="grid-item">6</td>
  </tr>
  <tr>
    <td class="grid-item">7</td>
    <td class="grid-item">8</td> 
    <td class="grid-item">9</td>
  </tr>
</table>
{% endblock %}