{% extends "base.html" %}
{% block title %}AI Crossword Generator{% endblock %}

{% block style %}
/* general */
.container {
  margin: 25px;
}
#crossword-wrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
/* crossword styling adapted from https://codepen.io/bornyesterday/pen/epadpa */
#crossword-container {
  grid-column: 2;
  width: 405px;
  height: 405px;
  border: 1px solid black;
}
.crossword-box {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  padding: 0;
  margin: 0;
  float: left;
}
.crossword-box p {
  margin-top: 6px;
  text-align: center;
  border-style: 
}
.filled { background: black; }
.numbered { counter-increment: value; }
.numbered:nth-of-type(n)::before {
  content: counter(value);
  font-size: 10px;
  position: absolute;
}
/* hint stuff */
#crossword-hints-wrapper {
  display: grid;
  grid-template-columns: 1fr auto 10px auto 1fr;
}
#hints-across {grid-column: 2;}
#hints-down {grid-column: 4;}
{% endblock %}

{% block content %}
<div id="crossword-wrapper" class="container">
  <div id="crossword-container">
      {% for elem in flattened_grid %}
        {% if elem %}
          {% if loop.index - 1 in flatted_grid_word_origins %}
            <div class="crossword-box numbered"><p>{{elem}}</p></div>
          {% else %}
            <div class="crossword-box"><p>{{elem}}</p></div>
          {% endif %}
        {% else %}
          <div class="crossword-box filled"></div>
        {% endif %}
      {% endfor %}
    </div>
</div>
<div id="crossword-hints-wrapper" class="container">
  <div id="hints-across">
      <strong>Across</strong>
      <ul>
        {% for hint, counter_number, _, word in hint_info_across %}
        <li>{{ counter_number }} {{orientation}}: {{ hint }} ANSWER: {{word}}</li>
        {% endfor %}
      </ul>
    </div>
    <div id="hints-down">
      <strong>Down</strong>
      <ul>
        {% for hint, counter_number, _, word in hint_info_down %}
        <li>{{ counter_number }} {{orientation}}: {{ hint }} ANSWER: {{word}}</li>
        {% endfor %}
      </ul>
    </div>
</div>
{% endblock %}