{% extends "base.html" %}
{% block title %}AI Crossword Generator{% endblock %}

{% block style %}
/* adapted from https://codepen.io/bornyesterday/pen/epadpa */
#wrapper {
  width: 425px;
  height: 425px;
  /* margin: 10px auto; */
}
.filled {
  width: 28px;
  height: 28px;
  background: black;
  border: 1px solid black;
  padding: 0;
  margin: 0;
  float: left;
}
.empty {
  width: 28px;
  height: 28px;
  border: 1px solid black;
  padding: 0;
  margin: 0;
  float: left;
}
.numbered {
  counter-increment: value;
}
.numbered:nth-of-type(n)::before {
  content: counter(value);
  font-size: 10px;
  position: absolute;
}
div p {
  text-align: center;
}
{% endblock %}

{% block content %}
<div id="wrapper">
  {% for elem in flattened_grid %}
    {% if elem %}
      {% if loop.index - 1 in flatted_grid_word_origins %}
        <div class="empty numbered"><p>{{elem}}</p></div>
      {% else %}
        <div class="empty"><p>{{elem}}</p></div>
      {% endif %}
    {% else %}
      <div class="filled"></div>
    {% endif %}
  {% endfor %}
</div>
<div>
  <strong>Across</strong>
  <ul>
    {% for hint, counter_number, _, word in hint_info_across %}
    <li>{{ counter_number }} {{orientation}}: {{ hint }} ANSWER: {{word}}</li>
    {% endfor %}
  </ul>
</div>
<div>
  <strong>Down</strong>
  <ul>
    {% for hint, counter_number, _, word in hint_info_down %}
    <li>{{ counter_number }} {{orientation}}: {{ hint }} ANSWER: {{word}}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}